@import "compass";
@import "singularitygs";
@import "import/normalize";
@import "import/base";
@import "import/extends";
@import "import/flexbox";

// Base styles

html {
	
}

body {
	@include font-size(12);
}

a {
	
	&:visited {
		
	}
	&:hover, &:focus {
		
	}
	&:active, .current {
		
	}
}

h1, h2, h3, h4, h5, h6 {
}
h1 {  }
h2 {  }
h3 {  }
h4 { }
h5 { }
h6 { }

.container-page {
	
}
.container-item {
	width: 100%;
}
	.container-brand {  
		background: #f90;
	}
	.container-cta {  
		background: #f0f;
	}
	.container-navigation { 
		background: #00f;
		.navigation {  }
	}
	.container-content { 
		background: #0f0;
		.content {  }
	}
	.container-sidebar {  
		background: #ccc;
	}
	.container-footer {  
		background: #999;
	}
